@media (max-width: 880px) {
  // Header Area
  #header-area {
    position: relative;
    background-color: $pColor1BL;
    // Navigation
    .mobile-bar {
      position: absolute;
      display: block;
      right: 1rem;
      top: 1rem;
      .menu-open {
        color: $pColor1RD;
        cursor: pointer;
        font: {
          size: 1.9rem;
          weight: 900;
        }
      }
    }

    .nav-bar {
      background-color: $pColor1BL;
      width: 100%;
      position: absolute;
      padding: 4rem 0rem 0rem 3rem;
      height: 100vh;
      display: none;
      top: 0;
      transition: 0.4s;
      .nav-links {
        position: relative;
        li {
          margin-bottom: 1rem;
          a {
            font: {
              size: 1.4rem;
              weight: 600;
            }
            color: $pColor1RD;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
        .menu-Close {
          display: block;
          position: absolute;
          top: -3rem;
          right: 1rem;
          cursor: pointer;
          color: $pColor1RD;
          font: {
            size: 1.9rem;
            weight: 900;
          }
        }
      }

      .social-area {
        margin: 2rem 0;
        .social-links {
          display: flex;
          justify-content: space-evenly;
          li {
            i {
              margin: 0;
              border: 1px solid $pColor1RD;
              width: 2.5rem;
              height: 2.5rem;
              border-radius: 50%;
              padding: 0.6rem;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: 0.3s;
              color: $pColor1RD;
              cursor: pointer;
              font: {
                size: 1.3rem;
                weight: 700;
              }
            }
          }
        }
      }

      .buyCoff {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        .btn {
          color: $pColor1BL;
          padding: 0.5rem 2rem;
          cursor: pointer;
          border: 0;
          border-radius: 20px;
          background: $pColor1RD;
          border: 1px solid $pColor1RD;
          transition: 0.4s;
          font: {
            size: 1.4rem;
            weight: 500;
            family: $fontOpenSans;
          }
          &:hover {
            color: $pColor2RD;
            background-color: $pColor2BL;
          }
        }
      }
    }
    .open {
      display: block;
    }
    .close {
      display: none;
    }

    // Main Header
    padding: 1rem 0.8rem;
    display: flex;
    justify-content: center;
    span {
      color: $pColor1RD;
      cursor: pointer;
      transition: 0.4s;
      font: {
        size: 4rem;
        weight: 800;
        family: $fontPaciCursiv;
      }
      &:hover {
        color: $pColor2RD;
      }
    }
  }

  // Hero Area
  #hero-area {
    // background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    .hero-img {
      width: 25rem;
      height: 32rem;
      border: 2px solid $pColor1RD;
      border-radius: 50%;
      margin-bottom: 2rem;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .hero-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1.5rem;
      h1 {
        color: $pColor1RD;
        font: {
          size: 2.7rem;
          family: $fontMewScript;
          weight: $wght600;
        }
      }
      p {
        color: $pColor1RD;
        font: {
          size: 1.4rem;
          weight: $wght600;
        }
      }
    }
    .hero-social-area {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      .hero-btn {
        border: 0;
        padding: 1rem 0.7rem;
        border-radius: 2rem;
        color: $pColor1BL;
        background-color: $pColor1RD;
        transition: 0.4s;
        border: 1px solid $pColor1RD;
        cursor: pointer;
        font: {
          size: 0.9rem;
          weight: $wghtLG;
        }
        &:hover {
          color: $pColor2RD;
          background-color: $pColor2BL;
        }
      }
      .hero-social-links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        i {
          display: flex;
          align-items: center;
          justify-content: center;
          color: $pColor1RD;
          cursor: pointer;
          transition: 0.4s;
          border: 1px solid $pColor1RD;
          border-radius: 50%;
          padding: 0.3rem 1rem;
          font : {
            size: 1.7rem;
            weight: 900;
          }
        }
      }
    }
  }

  // Mini About Area
  #about-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    .left-about-area {
      width: 85%;
      height: 30rem;
      border: 1px solid $pColor1RD;
      border-radius: 50%;
      margin-bottom: 3rem;
      img {
        border-radius: 50%;
      }
    }
    .right-about-area {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .top-right-area {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
        h2 {
          color: $pColor1RD;
          margin-bottom: 0.8rem;
          font: {
            size: 1.8rem;
            family: $pColor1RD;
          }
        }
        p {
          color: $pColor1RD;
          font: {
            size: 1.1rem;
          }
        }
      }
      .bottom-right-area {
        a {
          color: black;
          background-color: $pColor1RD;
          padding: 1rem 1rem;
          display: block;
          border-radius: 1.3rem;
          transition: 0.4s;
          border: 1px solid $pColor1RD;
          font: {
            size: 1.1rem;
            weight: $wght600;
          }
          &:hover {
            color: $pColor1RD;
            background-color: $pColor1RD;
            border: 1px solid $pColor1RD;
          }
        }
      }
    }
  }
  // Mini Tools Area
  // #tools-area {
  //   .tools-header {
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;
  //     justify-content: center;
  //     margin-bottom: 2rem;
  //     h2 {
  //       color: $h2Color1L;
  //       font: {
  //         size: 1.5rem;
  //       }
  //     }
  //     p {
  //       color: $paraColor1L;
  //       font: {
  //         size: 1.1rem;
  //       }
  //     }
  //   }

  //   .tools-body {
  //     display: grid;
  //     align-content: center;
  //     justify-content: center;
  //     grid-template-columns: 1fr 1fr 1fr;
  //     margin-bottom: 3rem;
  //     .tool {
  //       background-color: $bgColor1L;
  //       width: 8rem;
  //       height: 12rem;
  //       display: flex;
  //       flex-direction: column;
  //       align-items: center;
  //       justify-content: flex-end;
  //       padding: 1rem 0.5rem;
  //       border-radius: 1rem;
  //       margin-bottom: 1.5rem;
  //       &:last-child {
  //         margin-bottom: 0;
  //       }
  //       img {
  //         margin-bottom: 1rem;
  //         border-radius: 1rem;
  //       }
  //       a {
  //         color: $linkColor1L;
  //         font: {
  //           size: 1rem;
  //           weight: $wght600;
  //         }
  //         &:hover {
  //           color: $linkColor2L;
  //         }
  //       }
  //     }
  //   }

  //   .tools-footer {
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     a {
  //       background-color: $linkbgColor1L;
  //       display: block;
  //       margin-right: 1rem;
  //       padding: 1rem 1rem;
  //       color: $linkColor1L;
  //       border-radius: 1rem;
  //       font: {
  //         size: 1.1rem;
  //         weight: $wghtLG;
  //       }
  //     }
  //   }
  // }
}
