// Font Familys
$fontFRob: "Roboto", sans-serif;
$fontCadCur: "Cedarville Cursive", cursive;
$fontTriBg: "Tiro Bangla", serif;
$fontAneBg: "Anek Bangla", sans-serif;
$fontAlSans: "Alan Sans", sans-serif;
$fontOpenSans: "Open Sans", sans-serif;
$fontMewScript: "Meow Script", cursive;
$fontPaciCursiv: "Pacifico", cursive;

// Defult Font Weights
$wghtSM: 400;
$wghtMD: 500;
$wghtLG: 800;

$wght600: 600;
$wght700: 700;
$wght900: 900;

//
// Defult Colors for
//
$pColor1RD: #e84118;
$pColor1BL: #06080a;

// For hovers
$pColor2RD: #e84118;
$pColor2BL: #06080a;
